#root {
  width: 90%;
  color: rgb(54, 54, 54);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 15px;
  margin: 30px auto;
}

.episode-image-container {
  height: 200px;
  border: 1px solid #c7c4c4;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.episode-card {
  max-width: 500px;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid #c7c6c6;
  border-radius: 12px;
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1px;
}

p {
  margin: 0px;
}
.episode-summary {
  padding: 3px;
}

.episode-image {
  height: 100%;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.episode-name {
  width: auto;
  background-color: #ffffff;
  padding: 5px;
  padding-left: 20px;

  margin: 0px;
  border: 1px solid #b1afaf;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  text-align: left;
  font-size: 18px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #048080;
  padding: 20px;
  text-align: center;

  margin-top: 50px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#episode-count {
  margin-left: 10px;
  font-size: 14px;
  color: #666;
}

#search-input:focus {
  border: 2px solid #048080;
}

#navbar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#show-select,
#episode-select,
#search-input {
  padding: 12px 20px;
  border: 2px solid #048080;
  border-radius: 8px;
  font-size: 16px;
  width: 300px;
  background-color: #ffffff;
  outline: none;
  transition: border-color 0.3s ease;
}

#show-select,
#episode-select {
  text-align: start;
}

#search-input {
  text-align: center;
  font-size: 14px;
}

/* .shortenSummary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 2;
  -webkit-box-orient: vertical;
} */

.shortenSummary:hover {
  overflow: auto;
  display: block;
}

.mainShowCard {
  grid-column: 1/-1;

  padding: 18px;
  margin-bottom: 15px;
  border: 2px solid #c7c6c6;
  border-radius: 12px;
  background-color: #dadada;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}

.mainShowCard img {
  height: 100%;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mainShowCardInfo {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50ch;
  height: fit-content;
  padding: 1rem 2rem;
  background-color: #eff0f1;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #03030363;
}
